body {
  font-family: "Roboto", sans-serif;
  color: #361313;
  padding: 0 15px;
}

h2 {
  font-size: 1.75rem;
}

a {
  color: #da2c43;
}

a:hover {
  color: #da2c43;
}

div {
  font-weight: 300;
  font-size: 18px;
}

/* STICKY HEADER */

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.menu {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  max-width: 700px;
}

.menuOption {
  padding: 0 5px ;
  cursor: pointer;
  font-weight: normal;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.menuIcon {
  width: 16px;
  height: 16px;
}

.menuIcon:hover {
  color: #da2c43;
}

.iconBorder {
  border-bottom: 1px solid #361313;
}

.menuLine {
  background: #361313;
  margin: 0 10px;
  width: 1px;
  height: 25px;
}

.intro {
  margin: 30px 0;
  display: block;
  width: 100%;
  font-weight: 200;
}

/* ABOUT PAGE */

.content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
}

.aboutpic {
  width: 40%;
  height: 40%;
  margin: 20px auto;
}

.imgCaption {
  color: #AAA;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}

/* GRID */

.filter {
  text-decoration: line-through;
}

.nostrike {
  text-decoration: none;
  /* cursor: pointer; */
}

#mainGrid {
  column-count: 3;
	column-gap: 1px;
	flex-flow: column wrap;
	align-items: center;
	width: 100%;
  max-width: 1000px;
	z-index: 2;
	margin-bottom: 1px;
	overflow: hidden;
  padding: 0 3px;
  margin: auto;
}

#mainGrid > .slats {
	page-break-inside: avoid;
	break-inside: avoid-column;
}

.slats {
	padding: 1px;
	background-color: EEE;
	border-radius: 10px;
	margin: 0.1%;
	font-family: 'Arimo', san-serif;
	font-weight: 400;
  margin-bottom: 10px;
}

.projectLabel {
  margin-top: 5px;
  font-size: .625rem;
  font-family: 'Roboto Mono';
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* OTHER */

.screamer {
  font-size: 10rem;
  font-weight: 300;
}

@media (max-width: 700px) {
	#mainGrid {
		column-count: 2;
	}

	.slats {
		/* width: 99%; */
	}
}

@media (max-width: 400px) {
	#mainGrid {
		column-count: 1;
	}

  .aboutpic {
    width: 60%;
    height: 60%;
    margin: 20px auto;
  }

  .imgCaption {
    color: #AAA;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
  }
}
