p {
  color: rgba(13,13,13,.9);
  font-family: "Roboto Flex",sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6875rem;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  margin-bottom: 1.875rem;
}

#generateAll {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.emph {
  font-weight: 700;
}

select,
select option {
  display: inline;
  position: relative;
  border-color: #e2e2e2;
  /* border-radius: 5px; */
  text-align-last:center;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-weight: 700;
  padding: 3px;
}

select:invalid,
select option[value=""] {
  color: #999999;
}

mark {
  opacity: .1;
}

[hidden] {
  display: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {

}

.gbtn {
  max-width: 300px;
  margin-bottom: 30px;
}

#startOver {
  font-size: 12px;
  margin-top: -25px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #007bff;
  display: none;
  cursor: pointer;
}

.responses, .prompt {
  opacity: 0;
}

@media (max-width: 400px) {
  p {
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
  }
}
